.app__wrapper{
	width: 100%;
	.app__content{
		width: 100%;
		position: relative;
		.background-setting{
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			img{
				width: 100%;
				@media (min-width:1200px) {
					width: 100vw;
				}
			}
			
		}
		.taskManager__wrapper{
			font-weight: 400;
			width: 100%;
			.taskManager__content{
				
				@include adaptiveValue("width", 900 , 500, 1920, 800,1);
				@media (max-width: 799px) {
					@include adaptiveValue("width", 600 , 310, 799, 320,1 );
					
				}
				margin: 0 auto;
				padding: 3.4rem 0 0 0;
				.content__header{
					display: flex;
					justify-content: space-between;
					.header-title{
						h1{
							text-transform: uppercase;
							font-weight: 700;
							font-size: 2rem;
							letter-spacing: 2px;
						}
					}
					.header-theme{
						img{
							cursor: pointer;
							@include adaptiveValue("height",50 , 25, 1920, 1000,1 );
						}
					}
				}
				ul.tasks {
					font-family: JosefinSansItalic;
					border-top-left-radius: 3px;
					border-top-right-radius: 3px;
					li {
						width: 100%;
						font-size: 1.1rem;
						padding: 1.2rem 1rem 0.8rem 1rem;
					}
				}
				.content__form-control{
					margin-top: 2rem;
					ul.task-control{
						li{
							padding-top: 1rem;
							padding-left: 2rem;
							padding-right: 0;
							padding-bottom: 0.8rem;
							height: 100%;
							form{position: relative;
								input{
									width: 100%;
									background-color: transparent;
									border: none;
									outline: none;
									padding: 0rem 4rem 0rem 0rem;
									font-weight: 400;
								}
								button{
									position: absolute;
									right: 1rem;
									top: 50%;
									transform: translateY(-50%);
									font-family: JosefinSansItalic;
								}
							}
						}
					}
				}
				.content__form-result{
					margin-top: 0.5rem;
					.loading-text{
						padding: 0.5rem;
						letter-spacing: 1px;
						visibility: hidden;
					}
					ul{
						li{
							display: flex;
							justify-content: space-between;
							.singular-control{
								display: flex;
								.edit-task{
									margin-right: 1.2rem;
									button{
										font-family: JosefinSansItalic;
									}
									.content-task-edit{
										display: none;
										&.hidden {
											display: block;
										}
										border-radius: 3px;
										z-index: 2;
										left: 50%;
										top: 55%;
										padding: 3rem 3rem 3rem 3rem ;
										transform: translate(-50%,-40%);
										position: absolute;
											@include adaptiveValue("width", 900, 500, 1920, 800, 1);
											
											@media (max-width: 799px) {
												@include adaptiveValue("width", 600, 310, 799, 320, 1);
											
											}
											.task-edit-btn{
												width: 100%;
												padding: 0.5rem 1rem;
												border-radius: 300px;
												margin-top: 3rem;
											}
											.single-task-form h4 {
												font-family: JosefinSans;
												text-align: center;
												margin-bottom: 2rem;
											}
											
											.single-task-form p {
												margin-bottom: 0;
												margin-top: 0;
											}
											
											.single-task-form .form-control {
												display: grid;
												grid-template-columns: 9.5rem 1fr;
												justify-items: start;
												margin-bottom: 2rem;
												width: 100%;
												@media (max-width:600px) {
												grid-template-columns: 6rem 1fr;
												}
											}
											
											.single-task-form label {
												margin-bottom: 0;
												font-size: 1rem;
											}
											
											.task-edit-completed {
												width: auto;
											}
											
											.close-task-edit{
												position: absolute;
												top: 1rem;
												right: 1rem;
												cursor: pointer;
												
												
											}
											.task-edit-name{
												outline: none;
												border-radius: 3px;
												padding: 0.5rem;
												border-top-right-radius: 30rem;
												border-bottom-right-radius: 30rem;
												width: 100%;
											}
											.task-status {
												position: relative;
										
												&:hover .radio-check {
													@media (max-width:1000px) {
													}
												}
											
												input {
													cursor: pointer;
													position: relative;
													z-index: 1;
													opacity: 0;
												}
											
												.radio-check {
													position: absolute;
													left: 50%;
													top: 50%;
													transform: translate(-50%, -60%);
													height: 1.3rem;
													width: 1.3rem;
													border-radius: 30rem;
													&.checked {
														background: linear-gradient(#57DDFF, #C058F3);
														border: none;
													}
											
												}
												
											
												img {
													position: absolute;
													left: 50%;
													top: 50%;
													transform: translate(-50%, -60%);
													height: 0.6rem;
													display: none;
											
													&.checked {
														display: block;
													}
												}
											}
									}
								}
							}
							.task-info{
								display: flex;
								.task-status{
									position: relative;
									
									input{
										position: relative;
										z-index: 1;
										opacity: 0;
									}
									.radio-check{
										position: absolute;
										left: 50%;
										top: 50%;
										transform: translate(-50%, -60%);
										height: 1.3rem;
										width: 1.3rem;
										border-radius: 30rem; 
										&.checked{
											background: linear-gradient(#57DDFF, #C058F3);
											border: none;
										}
										&.completed{
											background: linear-gradient(#57DDFF, #C058F3);
											border: none;
										}
										
									}
									img{
										position: absolute;
										left: 50%;
										top: 50%;
										transform: translate(-50%, -60%);
										height: 0.6rem;
										display: none;
										&.checked {
										display: block;
										}
									}
								}	
								.task-title{
									margin-left: 1rem;
									&.checked{
										text-decoration: line-through;

									}
								}							
							}
							.delete-task{
								height: 0.5rem;
								cursor: pointer;
							}
						}
					}
				}
				.tabs{
					font-family: JosefinSansItalic;
					.task-navigation{
						border-bottom-left-radius: 3px;
						border-bottom-right-radius: 3px;
						display: flex;
						justify-content: space-between;
						width: 100%;
						padding: 1rem 1rem 1rem;
						.tabs__navigation{ 
							position: relative;
							button{
								margin-left: 1rem;
								
							}
							.rewardTab{
								@media (min-width:950px) {
									margin-right: 0.5rem;
									
								}
								position:relative;

									svg{
										fill: hsl(233deg, 14%, 35%);
										height: 0.9rem;
										position: absolute;
										right: -1.2rem;
										bottom: 0%;
										&.hidden {
											display: none;
										}
									}
							 
							}
							.rewardsTabPopup{
								&.hidden {
									display: none;
								}
								position:absolute;
								width: 5rem;
								height: 100%;
								left: 16%;
								top: 0;
								background-color: rgba(169, 169, 169, 0);
								z-index: 100;
							}
						}
						
						
						}
						.task-mobile-navigation{
							@media (min-width:801px) {
								display: none;
							}
							margin-top: 1rem;
							width: 100%;
							text-align: center;
							padding: 1rem;
							border-radius: 3px;
							.tabs__navigation{
								position: relative;
								button {
									margin-left: 1rem;
								
									
								}
								.rewardButton{
									display: inline-block;
								}
								.rewardTab {
									position: relative;
									margin-right: 0.5rem;
								
									svg {
										fill: hsl(233deg, 14%, 35%);
										height: 0.9rem;
										position: absolute;
										right: -1.3rem;
										bottom: 0%;
									
										@media (min-width:426px) {
											right: -1.2rem;
										}
										&.hidden{
											display: none;
										}
									}
								
								}
								.rewardsTabPopup {
									&.hidden {
										display: none;
									}
									position: absolute;
									width: 5rem;
									height: 100%;
									left: 20%;
									top: 0;
									background-color: rgba(169, 169, 169, 0);
									z-index: 100;
									@media (min-width:426px) {
										left: 25%;
									}
									@media (min-width:575px) {
										left: 28%;
									}
									@media (min-width:640px) {
										left: 31%;
									}
								}
								
							}
						}
					}
			}
		}
	}
}
.lock-popup{
	position: absolute;
	padding: 3rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 80%;
	// height: 10rem;
	text-align: center;
	font-size: 1.5rem;
	svg{
		position: absolute;
		top: 5%;
		right: 2%;
		cursor: pointer;
		}
		&.hidden{
			display: none;
		}
		@media (max-width:424px) {
			@include adaptiveValue("font-size",23 ,20, 424,320 );
		}
}

.rewards-page{
	margin-top: 2.5rem;
	width: 100%;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	button {
		padding: 0.5rem 0.8rem 0.5rem 0.6rem;
		border-radius: 30rem;
	}
	.setRewards__wrapper{
		padding: 1.5rem;
		.setRewards__content{
			.setRewards-header{
				h1{
					font-size: 2rem;
					text-align: center;
				}
			}
			.setRewards-form{
				margin-top: 1.5rem;
				form{
					text-align: center;
					h1{
						font-size: 1.5rem;
					}
					input{
						margin-top: 1.5rem;
						outline: none;
						display: block;
						border-radius: 30rem;
						padding: 0.5rem 0.5rem 0.5rem 1rem;
						background-color: transparent;
						width: 100%;
						text-align: center;
					}
					button{
						margin-top: 1rem;
						width: 10rem;
					}
					
				}
			}
		}
	}

	.filterRewards__wrapper{
		padding: 1.5rem;
		.filterRewards__content{
			.filterRewards-header{
				h1{
					font-size: 1.5rem;
				}
			}
			.filterRewards-form{
				margin-top: 2rem;
				form{
					.reward{
						margin-top: 1rem;
						h4{
							font-size: 1.2rem;
							margin-bottom: 0.5rem;
						}
						input{
							outline: none;
							background: transparent;
							padding: 0.5rem 1rem;
							border-radius: 30rem;
							width: 100%;
						}
					}
					button{
						border-radius: 30rem;
						width: 15rem;
						display: block;
						margin: 1.5rem auto 0;
					}
				}
			}
		}
	}

	.rewards__wrapper{
		position: relative;
		padding: 2.5rem 1.5rem 1.5rem 1.5rem;
		.rewards__content{
			.rewards-header{
				text-align: center;
				h4{
					font-size: 0.9rem;
				}
			}
			.rewards-body{
				margin-top: 1rem;
				text-align: center;
				h1{
					font-size: 1.5rem;
					margin-bottom:1rem;
				}
				h2{
					font-size: 1rem;
					span{
						font-weight: 700;
					}
				}
				.reward-container{
					.getReward{
						margin: 1.5rem auto;
						font-size: 1.5rem;
						text-transform: capitalize;
					}
					button{
						border-radius: 30rem;
						width: 10rem;
						@media (max-width:700px) {
							width: 100%;
							
						}
					}
				}
			}
		}
		.resetRewards{
			position: absolute;
			top: 2%;
			right: 0%;
			border: none;
		

		}
	}
}

.motivation-page{
	.motivation__wrapper{
		margin-top: 2rem;
		border-radius: 3px;
		padding: 1.5rem;
		text-align: center;
		.motivation__content{
			.motivation__header{
				font-size: 2rem;
			}
			.quote-area{
				margin-top: 1rem;
				.quote{
					font-size: 1.2rem;
					.quoteTxt{
						margin: 1rem 0;
					}
				}
				.author{
					margin-top: 0.5rem;
					display: flex;
					justify-content: right;
					font-size: 1rem;
				}
			}
			.quote-button{
				margin-top: 1rem;
				padding: 0.5rem 1rem;
				border-radius: 30rem;
				width: 100%;
			}
		}
	}
}


.history__wrapper{
	position: relative;
	margin-top: 2rem;
	padding: 1.5rem;
	.history__content{
		.history__starter-section{
			.history__header{
				h4{
					text-align: center;
					font-size: 1.5rem;
				}
				h5{
					margin-top: 0.5rem;
					text-align: center;
					font-size: 1.1rem;

				}
			}
			.history__form{
				margin-top: 2rem;
				form{
					h4{
						font-size: 1.3rem;
						margin-bottom: 0.5rem;
						margin-top: 1rem;
					}
					input{
						width: 100%;
						outline: none;
						background: transparent;
						border-radius: 30rem;
						padding: 0.5rem 1rem;
						text-align: center;
						margin-bottom: 0.5rem;
						&.years-old{
							margin-bottom: 2rem;
						}
					}
					button{
						margin-top: 1rem;
						width: 100%;
						display: block;
						padding: 0.5rem 1rem;
						border-radius: 30rem;

						@media (min-width:1020px) {
							width: 10rem;
							margin: 0 auto;
						}
					}
				}
			}
		}
		.history__regular-section{
			.history__header{
				margin-top: 1.2rem;
				h2{
					font-size: 1.5rem;
					text-align: center;
				}
			}
			.history__time-counter{
				margin-top: 1.5rem;
				.wrapperh{
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin-bottom: 1.5rem;
					@media (max-width:1020px) {
					margin-bottom: 1rem;
					flex-direction: column;
					}
					.container{
						padding: 2px;
						width: 70%;
						border-radius: 2px;
						@media (max-width:1020px) {
							width: 100%;
							margin: 0.5rem 0 0.7rem 0;
						}
						.text{
							width: 70%;
							height: 1.5rem;
							border-radius: 2px;
						}
					}
					.counter{
						margin-left: 1rem;
						font-size: 1.5rem;
					}
				}
			}
			.reset{
				position:absolute;
				top:1rem;
				right:1rem;
				
			}
		}
	}
}























// // ### Light Theme 
// $VeryLightGray: hsl(0, 0%, 98%);
// $VeryLightGrayishBlue: hsl(236, 33%, 92%);
// $VeryLightGrayishBluePopup: hsla(235, 32%, 92%, 0.969);
// $LightGrayishBlue: hsl(233, 11%, 84%);
// $DarkGrayishBlue: hsl(236, 9%, 61%);
// $VeryDarkGrayishBlue: hsl(235, 19%, 35%);


// // ### Dark Theme 
// $VeryDarkBlue: hsl(235, 21%, 11%);
// $VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
// $VeryDarkDesaturatedBluePopup: hsla(236, 22%, 15%, 0.929);
// $LightGrayishBlue: hsl(234, 39%, 85%);
// $LightGrayishBlue : hsl(236, 33%, 92%); //(hover)
// $DarkGrayishBlue: hsl(234, 11%, 52%);
// $VeryDarkGrayishBlueTxt: hsl(233, 14%, 35%);
// $VeryDarkGrayishBlue: hsl(237, 14%, 26%);